/*=========== RESET ===========*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/*=========== VARIABLES ===========*/
:root {
  --header-height: 4.5rem;
  /* colors */
  --hue: 33;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 90% 60%);
  --base-color-second: hsl(var(--hue) 70% 88%);
  --base-color-alt: hsl(var(--hue) 80% 65%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0, 4%, 15%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0, 0%, 97%);
  /* fonts-size */
  --title-font-size: 62, 5%;
  --subtitle-font-size: 62, 10%;
  /* fonts */
  --title-font: "Monoton", sans-serif;
  --body-font: "Poppins", sans-serif;
}
/*=========== BASE ===========*/
html {
  scroll-behavior: smooth;
}
body {
  font: 400 1rem var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
}
.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  transition: background 0.3s;
  font: 500 1rem var(--body-font);
}
.button:hover {
  background: var(--base-color-alt);
}
.divider-1 {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 36%, 57%, 1),
    hsla(var(--hue), 50%, 88%, 0.34)
  );
}
.divider-2 {
  height: 2px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 50%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}
/*=========== LAYOUT ===========*/
.container {
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid {
  display: grid;
  gap: 1rem;
}
#header {
  border-bottom: 0.5px solid var(--body-color);
  margin-bottom: 1rem;
  display: flex;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
}
/*=========== LOGO ===========*/
.logo {
  font: 400 5rem var(--title-font);
  color: var(--base-color);
}
/*=========== HOME ===========*/
#home {
  display: flex;
  justify-content: center;
  padding: calc(3rem + var(--header-height)) 0;
  background-image: url("assets/images/image3.jpg");
  background-size: cover;
  background-position: center;
}
.card.grid {
  gap: 1.5rem;
}
#home .card {
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 70%, 57%, 1),
    hsla(var(--hue), 50%, 88%, 0.34)
  );
  padding: 5rem 2rem;
  width: calc(95% - 2rem);
  box-shadow: 0px 0px 8px rgba(245, 234, 234, 0.897);
  border-radius: 0.25rem 0.25rem 0 0;
  text-align: center;
  text-shadow: 3px 3px 5px var(--text-color);
}
#home .card h2 {
  font-size: 3rem;
  margin-bottom: 0.75rem;
  color: var(--text-color);
  text-shadow: 1px 1px 3px var(--body-color);
}
/*=========== ABOUT ===========*/
#about {
  padding: var(--header-height) 0;
}
#about .container {
  margin: 0;
}
#about .column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#about .card {
  padding: 2rem 1rem;
  box-shadow: 0px 0px 6px rgba(37, 36, 36, 0.897);
  border-bottom: 0.25rem solid var(--text-color);
  transition: background 0.3s;
  text-align: center;
  width: calc(50% - 2rem);
  margin: 1rem;
  color: inherit;
}
#about .logo {
  font: 400 1.5rem var(--title-font);
  color: var(--base-color);
}
#about img {
  width: auto;
  height: auto;
  max-width: 10rem;
}
/*=========== FOOTER ===========*/
footer .container {
  display: flex;
  justify-content: space-evenly;
  padding: calc(1rem + var(--header-height)) 0;
}
footer.section {
  padding: 4rem 0;
}
footer {
  background-image: url(assets/images/image4.jpg);
  background-size: cover;
  background-position: center;
}
footer .links i {
  font: calc(5rem + var(--subtitle-font-size));
  color: var(--base-color-second);
}
footer .links li {
  font-size: 1.5rem;
  color: var(--base-color-second);
  text-shadow: 2px 2px 4px var(--text-color);
}
